In [1]:
import read_data

In [2]:
stories = read_data.find_stories('qa1_single-supporting-fact_train.txt')
statements, queries = read_data.stories_to_pandas(stories)

In [9]:
statements.head()

  line_id                         statement  story_id
0       1       Mary moved to the bathroom.         0
1       2         John went to the hallway.         0
2       4  Daniel went back to the hallway.         0
3       5       Sandra moved to the garden.         0
4       7         John moved to the office.         0

In [10]:
queries.head()

  line_id              query    answer support_line  story_id
0       3    Where is Mary?   bathroom            1         0
1       6  Where is Daniel?    hallway            4         0
2       9  Where is Daniel?    hallway            4         0
3      12  Where is Daniel?     office           11         0
4      15  Where is Sandra?   bathroom            8         0

In [12]:
# how to get the first 2 stories
statements[statements['story_id'] < 2]

   line_id                          statement  story_id
0        1        Mary moved to the bathroom.         0
1        2          John went to the hallway.         0
2        4   Daniel went back to the hallway.         0
3        5        Sandra moved to the garden.         0
4        7          John moved to the office.         0
5        8  Sandra journeyed to the bathroom.         0
6       10         Mary moved to the hallway.         0
7       11    Daniel travelled to the office.         0
8       13      John went back to the garden.         0
9       14         John moved to the bedroom.         0
10       1    Sandra travelled to the office.         1
11       2       Sandra went to the bathroom.         1
12       4          Mary went to the bedroom.         1
13       5       Daniel moved to the hallway.         1
14       7           John went to the garden.         1
15       8      John travelled to the office.         1
16      10   Daniel journeyed to the bedroom.         1
17      11   Daniel travelled to the hallway.         1
18      13          John went to the bedroom.         1
19      14      John travelled to the office.         1

In [18]:
# how to get the supporting example from a question
q = queries.ix[0]
support = statements[(statements.line_id == q.support_line) 
                     & (statements.story_id == q.story_id)]

In [20]:
q

line_id                       3
query           Where is Mary?
answer                 bathroom
support_line                  1
story_id                      0
Name: 0, dtype: object

In [16]:
support

  line_id                    statement  story_id
0       1  Mary moved to the bathroom.         0